{% load static %}

<div class="footer-top">
    <div class="container">
        <div class="footer-top__row">

            <div class="footer-top__col pay-option">
                <h5 class="like-h5">Veilig online betalen</h5>
                <div class="pay-option__list">
                    <img src="{% static 'images/pay-option-bancontact.svg' %}" alt="bancontact">
                    <img src="{% static 'images/pay-option-paypal.svg' %}" alt="paypal">
                    <img src="{% static 'images/pay-option-mastercard.svg' %}" alt="mastercard">
                    <img src="{% static 'images/pay-option-visa.svg' %}" alt="visa">
                </div>
            </div>

            <div class="footer-top__col icon-text">
                <i class="fas fa-boxes"></i>
                <h5 class="like-h5">Afhalen dezelfde werkdag</h5>
            </div>

            <div class="footer-top__col icon-text">
                <i class="fas fa-crown"></i>
                <h5 class="like-h5"><a href="{% url 'registration' %}">Voordelen voor professionals</a></h5>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="footer-center">
        <div class="footer-center__row">

            <div class="footer-center__col f-contact">
                <div class="footer-center__logo">
                    <img src="{% static 'images/logo-cleys.svg' %}" alt="">
                </div>
                <h5 class="like-h5">Cleys BV</h5>
                <address>Grote Baan 54 <br> 9250 Waasmunster <br>België</address>
                <a href="tel:038779323">03 877 93 23</a>
                <a href="mailto:shop@cleys.be">shop@cleys.be</a>
            </div>

            <div class="footer-center__col">
                <h5 class="like-h5">Aanbod</h5>
                <ul class="f-menu">
                    <li><a href="{% url 'store-products-by-category' category_slug='Spuitkurk' %}">Spuitkurk</a></li>
                    <li><a href="{% url 'store-products-by-category' category_slug='etics-gevelisolatie' %}">Etics gevelisolatie</a></li>
                    <li><a href="{% url 'store-products-by-category' category_slug='etics-buitenbepleistering' %}">Etics buitenbepleistering</a></li>
                    <li><a href="{% url 'store-products-by-category' category_slug='tapes-en-afdekmaterialen-etics-buitenbepleistering' %}">Tapes en afdekmaterialen</a></li>
                    <li><a href="{% url 'store-products-by-category' category_slug='voorbehandeling-3' %}">Voorbehandeling</a></li>
                </ul>
            </div>

            <div class="footer-center__col f-menu">
                <h5 class="like-h5">Alles over spuitkurk</h5>
                <ul class="f-menu">
                    <li><a href="#">Inspiratie</a></li>
                    <li><a href="#">Spuitkurk Academy</a></li>
                </ul>
            </div>

            <div class="footer-center__col f-menu">
                <h5 class="like-h5">Klantenservice</h5>
                <ul class="f-menu">
                    <li><a href="{% url 'faq-index' %}">Veelgestelde vragen</a></li>
                    <li><a href="#">Verkoopvoorwaarden</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer-bottom">
        <ul>
            <li><span>© Cleys BV</span></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Cookiestatement</a></li>
        </ul>
        <div class="codelines">made by <a href="https://codelines.be" target="_blank" rel="noopener noreferrer">Codelines</a>
        </div>
    </div>
</div>

