{% load static %}

<div class="logo hide-desktop"><a href="/" aria-label="cleys"><img src="{% static 'images/logo-cleys.svg' %}"
                                                                   alt="cleys"></a></div>

<nav class="header-nav">

    <div class="header-nav__top">
        <div class="container">
            <div class="left">
                <ul class="header-nav__top-contact">
                    <li>Vragen? <a href="mailto:shop@cleys.be">shop@cleys.be</a></li>
                    <!-- NOTE show Whatsapp only for users who logged in -->
                    <!-- <li>Whatsapp <a href="https://wa.me/320412345678">+32 (0)412 345 678</a></li> -->
                </ul>
            </div>
            <div class="right">
                <ul class="header-nav__top-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'faq-index' %}">Veelgestelde vragen</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                <!-- NOTE show this btn only for guest users -->
                <a href="/registreren.php" class="header-nav__top-btn btn --btn-orange">Account maken</a>
            </div>
        </div>
    </div>

    <div class="header-nav__bottom">
        <div class="container">
            <div class="logo hide-mobile"><a href="/" aria-label="cleys"><img src="{% static 'images/logo-cleys.svg' %}"
                                                                              alt="cleys"></a></div>
            <div class="header-nav__search">
                <div class="search-form">
                    <form method="" action="">
                        <div class="search-row">
                            <input type="search" name="search" placeholder="Zoek product…" id="search" required="">
                            <button type="submit" class="search-row__btn btn" aria-label="search"><i
                                    class="far fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="main-menu">
                <li class="submenu">
                    <a href="{% url 'store-index' %}">Aanbod</a>
                    <div class="submenu-child">
                        <div class="submenu-child__row">
                            {% for category in categories %}
                                <div class="submenu-child__col">
                                    <ul>
                                        <li>
                                            <a href="{% url 'store-products-by-category' category_slug=category.slug %}">{{ category.name }}</a>
                                        </li>
                                        {% for sub_category in category.subcategories.all %}
                                            <li>
                                                <a href="{% url 'store-products-by-category' category_slug=sub_category.slug %}">{{ sub_category.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </li>
                <li><a href="/inspiratie-overzicht.php">Inspiratie</a></li>
                <li><a href="/academy.php">Spuitkurk Academy</a></li>
            </ul>
            <div class="login-cart hide-mobile">
                <div class="login-top js-login-top">
                    <div class="login-top__trigger"></div>
                    <div class="login-top__content js-login-top__content">
                        <!-- NOTE show div below only for guest users -->
                        <div class="login-top__form">
                            <form method="" action="">
                                <h3>Inloggen</h3>
                                <div class="form-row">
                                    <div class="col col-1">
                                        <input type="text" name="email" placeholder="E-mailadres" required=""
                                               autocomplete="username">
                                    </div>
                                    <div class="col col-1">
                                        <input type="password" name="password" placeholder="Wachtwoord"
                                               autocomplete="current-password" required="">
                                        <p class="small text-right"><a href="#">Wachtwoord vergeten?</a></p>
                                    </div>
                                    <div class="col col-1 submit-col">
                                        <button type="submit" class="btn --btn-orange --btn-full">Inloggen</button>
                                    </div>
                                    <div class="col col-1">
                                        <p class="small text-center">Reeds gereserveerd? <a href="/login.php">Maak
                                            account</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- NOTE show this div only for users who logged in (and hide for guests) -->
                        <!-- <div class="login-top__user-info">
                            <h3>Mijn account</h3>
                            <ul>
                                <li><a href="/mijn-account-overzicht.php">Overzicht</a></li>
                                <li><a href="/mijn-account-mijn-bestellingen.php">Mijn bestellingen</a></li>
                                <li><a href="/mijn-account-mijn-gegevens.php">Mijn gegevens</a></li>
                                <li><a href="#">Uitloggen</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <a href="{% url 'cart-index' %}" class="cart-top">
                    <span {% if num_items_in_cart <= 0 %}class=empty"{% endif %}>{{ num_items_in_cart }}</span>
                    <i class="far fa-shopping-cart"></i>
                </a>
            </div>
        </div>
    </div>

</nav>

<div class="login-cart hide-desktop">
    <div class="login-top js-login-top">
        <div class="login-top__trigger"></div>
        <div class="login-top__content js-login-top__content">
            <!-- NOTE show div below only for guest users -->
            <div class="login-top__form">
                <form method="" action="">
                    <h3>Inloggen</h3>
                    <div class="form-row">
                        <div class="col col-1">
                            <input type="text" name="email" placeholder="E-mailadres" required=""
                                   autocomplete="username">
                        </div>
                        <div class="col col-1">
                            <input type="password" name="password" placeholder="Wachtwoord"
                                   autocomplete="current-password" required="">
                            <p class="small text-right"><a href="#">Wachtwoord vergeten?</a></p>
                        </div>
                        <div class="col col-1 submit-col">
                            <button type="submit" class="btn --btn-orange --btn-full">Inloggen</button>
                        </div>
                        <div class="col col-1">
                            <p class="small text-center">Reeds gereserveerd? <a href="/login.php">Maak account</a></p>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <a href="{% url 'cart-index' %}" class="cart-top">
        <span {% if num_items_in_cart <= 0 %}class=empty"{% endif %}>{{ num_items_in_cart }}</span>
        <i class="far fa-shopping-cart"></i>
    </a>
</div>

<div id="hamburger" aria-haspopup="true" aria-label="Show Menu">
    <span></span>
    <span></span>
    <span></span>
</div>

<div id="menu-overlay" class="overlay"></div>
