{% load static %}
<div id="cart-popup" class="js-popup-content popup-content" data-popupclass="cart-popup">
    <div class="popup-content__inner">
        <div class="mini-cart">
            <h3>Winkelwagen</h3>
            <div class="mini-cart__items">
                {% for cart_item in cart_items %}
                    <div class="mini-cart__row">
                        <div class="mini-cart__col">
                            <div class="mini-cart__product">
                                <div class="img">
                                    <img src="{{ cart_item.product.image.url }}" alt="">
                                </div>
                                <div class="content">
                                    <a href="{{ cart_item.product.url }}" class="title">
                                        <h5>{{ cart_item.product.name }}</h5>
                                    </a>
                                    {% if cart_item.variation %}
                                        <div class="extra-option">{{ cart_item.variation.name }}</div>
                                    {% endif %}
                                    <div class="extra-option --qty">Aantal: {{ cart_item.quantity }}</div>
                                    <a href="{% url 'cart-remove-item' cart_item_id=cart_item.pk %}"
                                       class="mini-cart__remove js-cart-item-remove" data-cart-row="1">Product
                                        verwijderen</a>
                                </div>
                            </div>
                        </div>
                        <div class="mini-cart__col text-right">
                            {% if request.user.is_authenticated %}
                                <div class="price">€ {{ cart_item.product.logged_in_price }}</div>
                            {% else %}
                                <div class="price">€ {{ cart_item.product.get_final_price }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>

        <div class="subtotal">
            <div class="subtotal__row">
                <div class="subtotal__col">Subtotaal (excl. BTW)</div>
                <div class="subtotal__col">€ {{ total|floatformat:2 }}</div>
            </div>
            <div class="subtotal__row --total">
                <div class="subtotal__col">Totaal (incl. BTW)</div>
                <div class="subtotal__col">€ {{ grand_total|floatformat:2 }}</div>
            </div>
            <div class="subtotal__buttons">
                <a href="{% url 'store-index' %}" class="btn --btn-orange-border">Opslaan als offerte</a>
                <a href="{% url 'cart-index' %}" class="btn --btn-orange">Naar checkout</a>
            </div>
        </div>
    </div>
</div>