{% load static %}
<!DOCTYPE HTML>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Registreren</title>
    <meta name="description" content="">
    <!--font, css, js -->
    {% include 'includes/head.html' %}
</head>

<body>
<div class="wrapper registration-page">

    <header id="header-menu">
        {% if request.user.is_authenticated %}
            {% include 'includes/header-menu-logged-in.html' %}
        {% else %}
            {% include 'includes/header-menu.html' %}
        {% endif %}
    </header>

    <main>

        <section class="header-img --small">
            <img src="{% static 'images/registration-header.jpg' %}" alt="">
        </section>

        <section class="registration-section --logo-bg --bg-low">
            <div class="container">
                <h1 class="like-h2 --color-dark">Wachtwoord vergeten?</h1>

                <form action="{% url 'password_reset' %}" method="post" id="registration-form">
                    {% csrf_token %}
                    <div class="registration__wrapper">
                        <div class="registration__right">
                            <div class="registration__form">
{{ password_reset_form }}
                                <div class="fieldset">
                                    <h3 class="legend">Je logingegevens</h3>
                                    <div class="form-row">

<!--                                        <div class="col col-2">-->
<!--                                            <label for="c_email" class="label">E-mailadres*</label>-->
<!--                                            <input type="text" placeholder="E-mailadres" required  id="c_email"-->
<!--                                                   name="{{ form.email.name }}"-->
<!--                                                   value="{{ form.email.value|default_if_none:'' }}">-->
<!--                                        </div>-->

                                        <div class="col col-1 submit-col">
                                            <button type="submit" class="btn --btn-orange">wachtwoord herstel</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </section>

    </main>

    <footer id="footer-page">
        {% include 'includes/footer.html' %}
    </footer>

</div>
</body>
</html>