/*#region fonts:*/
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-Black.ttf');
	font-style: normal;
	font-weight: 900;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-BlackItalic.ttf');
	font-style: italic;
	font-weight: 900;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-ExtraBold.ttf');
	font-style: normal;
	font-weight: 800;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-ExtraBoldItalic.ttf');
	font-style: italic;
	font-weight: 800;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-Bold.ttf');
	font-style: normal;
	font-weight: 700;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-BoldItalic.ttf');
	font-style: italic;
	font-weight: 700;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-SemiBold.ttf');
	font-style: normal;
	font-weight: 600;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-SemiBoldItalic.ttf');
	font-style: italic;
	font-weight: 600;
	}
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-Medium.ttf');
	font-style: normal;
	font-weight: 500;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-MediumItalic.ttf');
	font-style: italic;
	font-weight: 500;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-Regular.ttf');
	font-style: normal;
	font-weight: 400;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-Italic.ttf');
	font-style: italic;
	font-weight: 400;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-Light.ttf');
	font-style: normal;
	font-weight: 300;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-LightItalic.ttf');
	font-style: italic;
	font-weight: 300;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-ExtraLight.ttf');
	font-style: normal;
	font-weight: 200;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-ExtraLightItalic.ttf');
	font-style: italic;
	font-weight: 200;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-Thin.ttf');
	font-style: normal;
	font-weight: 100;
	}
@font-face {
	font-family:'Poppins';
	src: url('../fonts/Poppins-ThinItalic.ttf');
	font-style: italic;
	font-weight: 100;
	}
/*#endregion*/

/*#region root:*/
:root {
    --mainfont: 'Poppins', sans-serif;
    --titlefont: 'Poppins', sans-serif;
    --bodycolor: #101010;
    --yellow-1: #D89E00;
    --yellow-2: #EDBA2E;
    --gold: #8E7329;
    --gray: #A5A5A5;
    --dark-bg: #16181A;
}
/*#endregion*/

/*#region template.css*/
html {
    min-height: 100%;
}
body {
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.625;
    color: var(--bodycolor);
}
a {
    color: inherit;
    text-decoration: underline;
    transition: 0.4s;
}
a:hover,
a:focus {
    text-decoration: none;
}
p:not(:last-child) {
    margin-bottom: 1em;
}
strong,
b {
    font-weight: 700;
}
img {
    max-width: 100%;
    display: block;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#footer-page {
    margin-top: auto;
}
.container {
    width: 100%;
    max-width: 1460px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
}
.--grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(1px, 100px));
    gap: 20px;
}
.--full-grid {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(1px, 100px)) 1fr;
    gap: 20px;
}
.--full-grid .container {
    width: 100%;
    grid-column: 1 / -1;
}
.small {
    font-size: 0.75rem;
}
p.small {
    margin: 10px 0;
}
p.small:last-child {
    margin-bottom: 0;
}
p.small:first-child {
    margin-top: 0;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
/* .section-title {
    margin-bottom: 60px;
}
.--center {
    text-align: center;
} */
/*#endregion*/

/*#region title*/
h1,
.like-h1,
h2,
.like-h2,
h3,
.like-h3,
h4,
.like-h4,
h5,
.like-h5,
h6,
.like-h6 {
    font-family: var(--titlefont);
    font-style: normal;
    font-weight: 700;
    color: var(--blue);
    margin-bottom: 1em;
}
h1,
.like-h1 {
    font-size: 2.25rem; /*36*/
    margin-bottom: 30px;
    line-height: 1.3;
}
h2,
.like-h2 {
    font-size: 1.75rem; /*28*/
    margin-bottom: 20px;
    line-height: 1.3;
}
h3,
.like-h3 {
    font-size: 1.25rem; /*20*/
    font-weight: 500;
    margin-bottom: 20px;
}
h4,
.like-h4 {
    font-size: 1.125rem; /*18*/
    font-weight: 500;
    margin-bottom: 20px;
}
h5,
.like-h5 {
    font-size: 1rem; /*16*/
    margin-bottom: 10px;
}
h6,
.like-h6 {
    font-size: 0.875rem; /*14*/
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
h1:last-child,
.like-h1:last-child,
h2:last-child,
.like-h2:last-child,
h3:last-child,
.like-h3:last-child,
h4:last-child,
.like-h4:last-child,
h5:last-child,
.like-h5:last-child,
h6:last-child,
.like-h6:last-child {
    margin-bottom: 0;
}
/*#endregion*/

/*#region btn*/
.btn {
    font-family: var(--mainfont);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    padding: 5px 30px;
    min-height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    white-space: nowrap;
    transition: 0.4s;
    border-radius: 2px;
}
.--btn-yellow {
    color: #fff;
    background-color: var(--yellow-2);
}
.--btn-yellow:hover,
.--btn-yellow:focus {
    background-color: var(--gold);
}
.--btn-back {
    background-color: var(--gray);
    color: #fff;
    padding-left: 56px;
    background-image: url('../images/icon-arrow-left-white.svg');
    background-position: 30px center;
    background-repeat: no-repeat;
}
.--btn-back:hover,
.--btn-back:focus {
    background-position: 20px center;
}
.--btn-white {
    background-color: #fff;
    color: var(--bodycolor);
    border-color: var(--bodycolor);
}
.--btn-white:hover,
.--btn-white:focus {
    background-color: var(--yellow-1);
    color: #fff;
}
.btn-block {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}
.btn-block .btn {
    margin: 5px;
}
.--btn-full {
    width: 100%;
}
.scroll-down {
    line-height: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 60px;
    padding: 30px 10px 0 10px;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: var(--yellow-1);
    background-image: url('../images/icon-scroll-down.svg');
    background-position: top center;
    background-repeat: no-repeat;
}
.scroll-down:hover,
.scroll-down:focus {
    background-position: center 10px;
}
/*#endregion*/

/*#region form*/
form {
    --border-color: #CCCCCC;
    --focus-color: var(--yellow-1);
    --border-radius: 2px;
    --background-color: #fff;
    --placeholder-color: #A5A5A5;
    --checkbox-size: 18px;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    border: 1px solid var(--border-color);
    font-family: var(--mainfont);
    font-weight: inherit;
    font-style: normal;
    font-size: inherit;
    padding: 0 15px 0 20px;
    height: 50px;
    color: var(--bodycolor);
    background-color: var(--background-color);
    display: block;
    border-radius: var(--border-radius);
    line-height: 1.5;
}
select {
    position: relative;
    background-image: url("../images/icon-select.svg");
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;
    padding-right: 35px;
}
textarea {
    height: 80px;
    resize: vertical;
    padding-top: 10px;
}
input:focus,
textarea:focus,
select:focus {
    border-color: var(--focus-color);
}
input::placeholder,
textarea::placeholder {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: var(--placeholder-color);
}
.label-absolute {
    position: relative;
}
.label-absolute label {
    position: absolute;
    top: -7px;
    left: 10px;
    display: block;
    font-size: 12px;
    color: var(--yellow-1);
    line-height: 1;
    font-weight: 600;
    background: #fff;
    padding: 2px 3px;
    opacity: 0;
    transition: .2s;
}
.label-absolute input:focus + label,
.label-absolute textarea:focus + label,
.label-absolute input:not(:placeholder-shown) + label,
.label-absolute textarea:not(:placeholder-shown) + label {
    opacity: 1;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:required {
    display: block;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    margin-bottom: calc(var(--checkbox-size) * -1);
    opacity: 0;
}
input[type="checkbox"] + label {
    position: relative;
    padding-left: 28px;
    font-size: inherit;
    line-height: 1.5;
    display: block;
    color: inherit;
    cursor: pointer;
}
input[type="checkbox"] + label::before {
    position: absolute;
    content: "";
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    top: 1px;
    left: 0;
    cursor: pointer;
}
input[type="checkbox"]:checked + label::before {
    background-image: url("../images/icon-checked.svg");
    background-position: center;
    background-repeat: no-repeat;
}
/*#endregion*/

/*#region form-block*/
.form-row {
    display: grid;
    grid-template-columns: repeat(6, minmax(1px, 1fr));
    gap: 20px;
}
.form-row .col-1 {
    grid-column: span 6;
}
.form-row .col-2 {
    grid-column: span 3;
}
.form-row .col-3 {
    grid-column: span 2;
}
.form-row .check-col {
    justify-self: start;
}

.fieldset {
    margin-bottom: 30px;
}
.submit-fieldset {
    margin-top: 40px;
}
.js-hide-fieldset {
    display: none;
}
.add-fields {
    color: var(--yellow-1);
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}
.add-fields::before {
    content: url('../images/icon-plus.svg');
    margin-right: 6px;
}
.add-fields:hover {
    text-decoration: underline;
}
.form-info {
    padding-left: 26px;
    position: relative;
}
.form-info::before {
    position: absolute;
    content: url('../images/icon-info-circle.svg');
    width: 16px;
    height: 16px;
    left: 0;
    top: 2px;
}
/*#endregion*/

/*#region header-menu*/
#header-menu {
    background: rgba(0, 0, 0, 0.85);
    z-index: 555;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: #fff;
}
#header-menu .container {
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    align-items: center;
    gap: 20px;
}
#header-menu .logo {
    width: 80px;
    height: 67px;
    transition: height 0.4s;
}
#header-menu .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header-menu__right {
    display: flex;
    justify-content: flex-end;
}
.header-menu__left > a,
.header-menu__right > a {
    text-decoration: none;
}
.header-menu__left > a:hover,
.header-menu__left > a:focus,
.header-menu__right > a:hover,
.header-menu__right > a:focus {
    color: var(--yellow-1);
}
.header-menu__left > a:before {
    content: "•";
    margin: 0 10px;
}
.header-menu__right > a,
.login-top__trigger {
    padding-top: 32px;
    padding-bottom: 32px;
}
.login-top {
    position: relative;
    margin-left: 30px;
}
.login-top__trigger {
    cursor: pointer;
    position: relative;
    transition: .4s;
    padding-left: 62px;
    padding-right: 30px;
}
.login-top__trigger::before {
    position: absolute;
    content: "";
    left: 30px;
    top: calc(50% - 12px);
    width: 22px;
    height: 22px;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-image: url('../images/icon-user.svg');
    mask-image: url('../images/icon-user.svg');
    background-color: #fff;
    transition: .4s;
}
.open .login-top__trigger {
    background-color: #fff;
    color: var(--bodycolor);
}
.open .login-top__trigger::before {
    background-color: var(--bodycolor);
}
.in-login .login-top__trigger {
    color: var(--yellow-1);
}
.in-login .login-top__trigger::before {
    -webkit-mask-image: url('../images/icon-user-solid.svg');
    mask-image: url('../images/icon-user-solid.svg');
    background-color: var(--yellow-1);
}
.login-top__content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 340px;
    height: auto;
    background: #fff;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.05);
    color: var(--bodycolor);
    padding: 30px 30px 20px 30px;
}
.in-login .login-top__content {
    width: 250px;
}
.login-top__content h4 {
    margin-bottom: 30px;
}
.login-top__user-info ul {
    list-style: none;
}
.login-top__user-info ul li:not(:last-child) {
    margin-bottom: 12px;
}
.login-top__user-info ul li a {
    text-decoration: none;
}
.login-top__user-info ul li a:hover,
.login-top__user-info ul li a:focus {
    color: var(--yellow-1);
}
@media (max-height: 1000px) {
    .header-menu__right > a,
    .login-top__trigger {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    #header-menu .logo {
        height: 40px;
    }
}

@media (max-width: 1250px) {
    .header-menu__left > span {
        display: none;
    }
    .login-top {
        margin-left: 20px;
    }
    .login-top__trigger {
        padding-left: 47px;
        padding-right: 15px;
    }
    .login-top__trigger::before {
        left: 15px;
    }
}
@media (max-width: 900px) {
   .header-menu__right > a {
        display: none;
   }
   .header-menu__left .tel {
       position: relative;
       padding-right: 20px;
   }
   .header-menu__left .tel::after {
       position: absolute;
       content: "";
       width: 20px;
       height: 100%;
       top: 0;
       right: 0;
       -webkit-mask-image: url('../images/icon-phone-solid.svg');
       mask-image: url('../images/icon-phone-solid.svg');
       -webkit-mask-position: center;
       /* -webkit-mask-size: 20px;
       mask-size: 20px; */
       mask-position: center;
       -webkit-mask-repeat: no-repeat;
       mask-repeat: no-repeat;
       background-color: #fff;
       transition: .4s;
   }
   .header-menu__left .tel:hover:after {
       background-color: var(--yellow-1);
   }
   .header-menu__left .tel > span {
       display: none;
   }
}
@media (max-width: 600px) {
    .header-menu__left > a:not(.tel) {
        display: none;
    }
    .header-menu__left > a:before {
        display: none;
    }
    .header-menu__left .tel {
        display: block;
        height: 40px;
        width: 40px;
        padding-right: 0;
    }
    .header-menu__left .tel::after {
        right: calc(50% - 10px);
    }
    .login-top {
        margin-left: 0;
    }
    .login-top__trigger {
        font-size: 0;
        width: 40px;
        padding: 0;
        height: 50px;
    }
    .login-top__trigger::before {
        left: calc(50% - 11px);
    }
}
@media (max-width: 425px) {
    .in-login .login-top__content,
    .login-top__content {
        width: calc(100vw - 30px);
    }
}
/*#endregion*/

/*#region showcase*/
.showcase {
    display: grid;
    align-items: end;
    position: relative;
    min-height: 100vh;
    margin-top: -90px;
    padding-top: 150px;
    padding-bottom: 90px;
}
.showcase__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 140px);
    z-index: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 140px));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 140px));
}
.showcase__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.showcase__content {
    position: relative;
    z-index: 2;
}
.showcase__scroll-down {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
@media (max-height: 1000px) {
    .showcase {
        margin-top: -50px;
    }
}
@media (max-width: 1200px) {
    .showcase__img {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
    }
}
/*#endregion*/

/*#region events*/
.events {
    position: relative;
    margin-top: 120px;
    padding-bottom: 120px;
}
.events__img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 1;
    -webkit-clip-path: polygon(0 170px, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 170px, 100% 0, 100% 100%, 0 100%);
}
.events__img::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    mix-blend-mode: hard-light;
}
.events__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.events__content {
    position: relative;
    z-index: 2;
}
/* event-list */
.event-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.event-list__item {
    position: relative;
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-decoration: none;
}
.event-list__item:hover,
.event-list__item:focus {
    transform: scale(1.05);
}
.event-list__full-length {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: var(--gold);
    transform: rotate(30deg) translate(33%, -130%);
}
.event-list__day {
    font-size: 0.875rem;
    line-height: 1;
    color: #555555;
    font-weight: 300;
    margin-bottom: 5px;
}
.event-list__date {
    font-size: 1.5rem;
    color: var(--yellow-1);
    margin-bottom: 40px;
    line-height: 1;
    font-weight: 300;
}

/*#region pagination*/
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 90px;
}
.pagination li a,
.pagination li span {
    width: 36px;
    height: 36px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    background: transparent;
    border: 1px solid #555555;
}
.pagination li a[aria-label="Previous Page"],
.pagination li.prev a,
.pagination li a[aria-label="Next Page"],
.pagination li.next a {
    border-color: transparent;
}
.pagination li.active a,
.pagination li a[aria-current="true"],
.pagination li a:hover,
.pagination li a:focus {
    background: var(--yellow-1);
    color: #fff;
}
/*#endregion*/

@media (max-width: 1200px) {
    .event-list__title {
        font-size: 1.375rem;
    }
    .event-list__item {
        padding: 40px 20px 20px 20px;
    }
    .event-list__full-length {
        font-size: 13px;
        height: 25px;
    }
    .event-list__date {
        margin-bottom: 30px;
        font-size: 1.125rem;
    }
    .events__img {
        -webkit-clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
    }
}
@media (max-width: 900px) {
    .event-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .showcase .event-list {
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 600px) {
    .events {
        padding-bottom: 60px;
        margin-top: 60px;
    }
    .pagination {
        margin-top: 40px;
    }
    .event-list,
    .showcase .event-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        max-width: 100%;
    }
}
/*#endregion*/

/*#region activity*/
.activity {
    position: relative;
    margin: 90px 0 120px 0;
}
.activity::before {
    position: absolute;
    content: "";
    right: 0;
    bottom: -140px;
    width: 40vw;
    max-width: 500px;
    height: 415px;
    background-image: url(../images/logo-bg.svg);
    background-position: calc(100% + 30px) bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
.activity__header {
    margin-bottom: 40px;
}
.activity__column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.activity__btn {
    margin: 60px auto 0 auto;
}
@media (max-width: 600px) {
    .activity {
        margin: 60px 0;
    }
    .activity__column {
        grid-template-columns: 1fr;
    }
    .activity::before {
        width: 80vw;
    }
}
/*#endregion*/

/*#region subscrib*/
.subscrib {
    background: var(--dark-bg);
    color: #fff;
}
.subscrib__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 20px;
    padding: 80px 0 60px 0;
}
.--subscrib-with-border .subscrib__inner {
    border-bottom: 1px solid #707070;
}
.subscrib__title {
    max-width: 400px;
}
.subscrib__form {
    margin-top: 10px;
}
.subscrib__form-row {
    display: grid;
    grid-template-columns: auto fit-content(160px);
    align-items: end;
    gap: 20px 30px;
}
.subscrib__form-row .col-1{
    grid-column: 1 / -1;
}
.subscrib__form input[type="text"],
.subscrib__form input[type="email"] {
    background-color: transparent;
    padding: 0;
    font-size: 1.375rem;
    color: #fff;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
}
@media (max-width: 900px) {
    .subscrib__inner {
        grid-template-columns: 1fr;
        max-width: 700px;
    }
}
@media (max-width: 600px) {
    .subscrib__form input[type="text"],
    .subscrib__form input[type="email"] {
        font-size: inherit;
        font-weight: inherit;
    }
}
@media (max-width: 425px) {
    .subscrib__inner {
        padding: 50px 0;
    }
    .subscrib__form-row {
        grid-template-columns: 1fr;
    }
    .subscrib__form-row .col-submit {
        order: 2;
    }
    .subscrib__form-row .col-submit .btn {
        width: 100%;
    }
}
/*#endregion*/

/*#region footer*/
.wrapper:not(.home-page) #footer-page {
    position: relative;
}
.wrapper:not(.home-page) #footer-page::before {
    position: absolute;
    content: "";
    left: 5%;
    bottom: 100%;
    width: 40vw;
    max-width: 500px;
    height: 415px;
    background-image: url('../images/logo-bg.svg');
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
#footer-page {
    background: var(--dark-bg);
    color: #fff;
}
.footer-page__inner {
    padding: 20px 0;
    
    display: grid;
    grid-template-columns: auto fit-content(150px);
    gap: 10px 20px;
    color: #A5A5A5;
    font-size: 0.875rem;
}
.footer-page__inner a {
    text-decoration: none;
    transition: .2s;
}
.footer-page__inner a:hover,
.footer-page__inner a:focus {
    text-decoration: underline;
    color: #fff;
}
.footer-page__inner ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.footer-page__inner ul li:not(:first-child)::before {
    content: "•";
    margin: 0 7px;
}
@media (max-width: 600px) {
    .footer-page__inner {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 425px) {
    .footer-top {
        padding: 50px 0;
    }
}
/*#endregion*/

/*#region header-page*/
.header-page {
    position: relative;
    height: 600px;
    margin-top: -90px;
}
.header-page .container {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    width: 100%;
}
.header-page__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 170px));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 170px));
}
.header-page__btn {
    margin-top: auto;
    margin-bottom: 120px;
}
.header-page__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 1200px) {
    .header-page__img {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
    }
    .header-page__btn {
        margin-bottom: 60px;
    }
}
/*#endregion*/

/*#region event-detail*/
.event-detail {
    margin: -60px 0 120px 0;
    position: relative;
    z-index: 2;
}
.event-detail__inner {
    display: grid;
    grid-template-columns: minmax(200px, 580px) minmax(200px, 580px);
    justify-content: space-between;
    gap: 50px;
}
.event-detail__header-top {
    margin-bottom: 20px;
}
.--event-detail-fully-booked .event-detail__header-top {
    display: grid;
    grid-template-columns: auto fit-content(130px);
    align-items: center;
    gap: 10px;
}
.--event-detail-fully-booked .event-detail__header-top::after {
    content: "volzet";
    width: 130px;
    height: 35px;
    background: var(--gold);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.event-detail__date {
    font-size: 0.875rem;
    font-weight: 300;
}
.event-detail__date span {
    display: block;
    font-size: 1.5rem;
    color: var(--yellow-1);
}
.event-detail__price {
    font-size: 1.375rem;
    font-weight: 700;
    margin-top: 30px;
}
.event-detail__body {
    padding-top: 70px;
    margin-top: 60px;
    border-top: 1px solid #E5E5E5;
}
.event-detail__body h3:not(:first-child) {
    margin-top: 30px;
}
.music-list,
.check-list {
    list-style: none;
    margin: 20px 0;
}
.music-list ul,
.check-list ul {
    list-style: none;
    margin: 10px 0;
}
.music-list:last-child,
.check-list:last-child  {
    margin-bottom: 0;
}
.music-list:first-child,
.check-list:first-child {
    margin-top: 0;
}
.music-list li,
.check-list li {
    position: relative;
    padding-left: 27px;
}
.music-list li:not(:last-child),
.check-list li:not(:last-child)  {
    margin-bottom: 10px;
}
.music-list li::before,
.check-list li::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0.4em;
}
.music-list li::before {
    width: 10px;
    height: 16px;
    background: url('../images/icon-list-music.svg') no-repeat center;
}
.check-list li::before {
    width: 16px;
    height: 12px;
    background: url('../images/icon-list-check.svg') no-repeat center;
}

.event-detail__right {
    margin-top: 150px;
}
.reserve__header {
    margin-bottom: 40px;
}

.reserve-ok__check {
    position: relative;
    padding-left: 63px;
    padding-top: 9px;
}
.reserve-ok__check::before {
    position: absolute;
    content: url('../images/icon-check-circle.svg');
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
}
@media (max-width: 1200px) {
    .event-detail {
        margin: 0 0 90px;
    }
    .event-detail__right {
        margin-top: 50px;
    }
}
@media (max-width: 900px) {
    .event-detail__inner {
        grid-template-columns: 1fr;
    }
}
/*#endregion*/

/*#region login-page*/
.login-section {
    margin: 90px 0;
}
.login-section__content {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: minmax(200px, 340px) minmax(200px, 340px);
    justify-content: space-between;
    gap: 50px;
    padding: 30px 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #E5E5E5 50%, #E5E5E5 calc(50% + 1px), #fff calc(50% + 1px));
}
.login-section__header {
    margin-bottom: 30px;
}
@media (max-height: 900px) {
    .login-section {
        margin: 30px 0;
    }
}
@media (max-width: 768px) {
    .login-section__content {
        max-width: 450px;
        grid-template-columns: 1fr;
        padding: 0;
        background-image: none;
    }
    .login-section {
        margin: 50px 0;
    }
    .login-section__left {
        padding-bottom: 50px;
        border-bottom: 1px solid #E5E5E5;
    }
}
/*#endregion*/

/*#region content-section*/
.content-section {
    margin: 90px 0 120px 0;
}
.content-section__content {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.--content:first-child {
    margin-top: 0!important;
}
.--content:last-child {
    margin-bottom: 0!important;
}
.--content ul,
.--content ol {
    list-style: none;
    margin: 20px 0;
}
.--content ul:last-child,
.--content ol:last-child {
    margin-bottom: 0;
}
.--content ul:first-child,
.--content ol:first-child {
    margin-top: 0;
}
.--content ul li,
.--content ol li {
    position: relative;
    padding-left: 27px;
}
.--content ul li:not(:last-child),
.--content ol li:not(:last-child) {
    margin-bottom: 10px;
}
.--content ul li::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0.4em;
    width: 16px;
    height: 12px;
    background: url('../images/icon-list-check.svg') no-repeat center;
}
.--content ol {
    counter-reset: item;
}
.--content ol li::before {
    position: absolute;
    left: 0;
    top: 0;
    counter-increment: item;
    content: counter(item) ".";
    color: var(--bodycolor);
    margin-right: 10px;
}
.--content h2,
.--content h3 {
    margin: 40px 0 20px 0;
}
/*#endregion*/

/*#region overzicht*/
.overview {
    margin: 90px 0 120px 0;
}
.overview__content {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 40px;
}
.overview__menu ul {
    list-style: none;
    line-height: 1.5;
}
.overview__menu ul li:not(:last-child) {
    margin-bottom: 11px;
}
.overview__menu ul li a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: var(--bodycolor);
}
.overview__menu ul li a:hover,
.overview__menu ul li a:focus,
.overview__menu ul li.active a {
    color: var(--yellow-1);
}
.overview__menu ul li.active a {
    font-weight: 700;
}
.overview__right {
    margin-top: 20px;
    max-width: 940px;
}
.overview__header {
    margin-bottom: 60px;
}
.upcoming-events:not(:last-child),
.previous-reservations:not(:last-child) {
    margin-bottom: 60px;
}
.upcoming-events h2,
.previous-reservations h2 {
    margin-bottom: 30px;
}
.upcoming-events-list__item,
.previous-reservations-list__item {
    display: block;
    text-decoration: none;
    padding-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
}
.upcoming-events-list__item:not(:last-child),
.previous-reservations-list__item:not(:last-child) {
    margin-bottom: 30px;
}
.upcoming-events-list__date,
.previous-reservations-list__date {
    color: #555555;
    margin-bottom: 10px;
}
.upcoming-events-list__date span,
.previous-reservations-list__date span {
    color: var(--yellow-1);
}
.upcoming-events-list__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 25px;
}
.upcoming-events-list__title > *{
    margin: 0 10px 5px 10px;
}
.sticker {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 10px;
    font-size: 0.75rem;
    line-height: 1.3;
}
.sticker.--red {
    background: #FFD9D9;
    color: #D93131;
}
.sticker.--green {
    background: #DDFFE9;
    color: #1AB750;
}
.upcoming-events-list__row {
    display: grid;
    grid-template-columns: repeat(4, fit-content(200px)) auto;
    gap: 50px;
    align-items: end;
}
.upcoming-events-list__row .name {
    font-size: 0.75rem;
}
.upcoming-events-list__btn {
    margin-left: auto;
}
.previous-reservations-list__title {
    display: grid;
    grid-template-columns: auto fit-content(200px);
    gap: 30px;
    align-items: center;
}
.previous-reservations-list__title h3 {
    margin-bottom: 0;
}
.upcoming-events-list__btn,
.previous-reservations-list__btn {
    padding: 5px 20px;
    font-size: 0.875rem;
    min-height: 40px;
}

@media (max-width: 1200px) {
    .upcoming-events-list__row {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
    .upcoming-events-list__row .col:last-child {
        grid-column: 1 / -1;
    }
    .upcoming-events-list__btn {
        margin-left: 0;
    }
}
@media (max-width: 900px) {
    .overview {
        margin: 60px 0 90px 0;
    }
    .overview__content {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 600px) {
    .upcoming-events-list__row {
        grid-template-columns: repeat(2, 1fr);
    }
    .previous-reservations-list__title {
        grid-template-columns: 1fr;
    }
}

/*#endregion*/

/*#region reservering-detail, personal-info*/
.reservering-detail__btn-back,
.personal-info__block {
    margin-bottom: 60px;
}
.reservering-detail__header {
    margin-bottom: 40px;
}
.reservering-detail__date {
    font-size: 1.5rem;
    font-weight: 300;
    color: #555555;
    margin-bottom: 20px;
}
.reservering-detail__date span {
    color: var(--yellow-1);
}
.reservering-detail__block:not(:last-child) {
    margin-bottom: 60px;
}
.reservering-detail__block a,
.personal-info__block a {
    color: var(--yellow-1);
}
.reservering-detail__title,
.personal-info__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 25px;
}
.reservering-detail__title > *,
.personal-info__title > * {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}
.reservering-detail__row,
.personal-info__row {
    display: grid;
    gap: 20px;
}
.reservering-detail__row-inner,
.personal-info__row-inner {
    display: grid;
    grid-template-columns: minmax(190px, 220px) auto;
    gap: 20px;
}
.reservering-detail__row-inner .name,
.personal-info__row-inner .name {
    color: #555555;
}
.reservering-detail__row-inner .sticker + span {
    display: block;
    margin-top: 5px;
    font-size: 0.875rem;
    font-style: italic;
}
.reservering-detail__row-inner .sticker.--red + span {
    color: #D93131;
}
.reservering-detail__row-inner .sticker.--green + span {
    color: #1AB750;
}
.reservering-detail__row-inner .value ul {
    list-style: none;
    line-height: 1.8;
}
.reservering-detail__row-inner .value ul ul{
    margin-left: 30px;
}
.reservering-detail__row-inner .form-row,
.personal-info__row-inner .form-row {
    max-width: 280px;
}
.reservering-detail__row-inner .form-row a,
.personal-info__row-inner .form-row a {
    color: inherit;
}
.reservering-detail__row.--form,
.personal-info__row.--form {
    display: none;
}
.reservering-detail__row.--form .name,
.personal-info__row.--form .name {
    margin-top: 10px;
}
.reservering-detail__row.--form .col.submit,
.personal-info__row.--form .col.submit {
    margin-top: 10px;
}

.reservering-detail__history-inner {
    display: grid;
    grid-template-columns: minmax(100px, 120px) minmax(120px, 240px) 1fr;
}
.reservering-detail__history-inner.--title {
    margin-bottom: 30px;
    color: #555555;
}
.reservering-detail__history-inner:not(.--title) {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E5E5E5;
}
.reservering-detail__history-inner .name {
    display: none;
}
@media (max-width: 600px) {
    .reservering-detail__row-inner,
    .personal-info__row-inner {
        grid-template-columns: 1fr;
        gap: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid #E5E5E5;
    }
    .reservering-detail__row-inner .name,
    .personal-info__row-inner .name,
    .reservering-detail__history-inner .name {
        color: #A5A5A5;
        text-transform: uppercase;
        font-size: 0.875rem;
    }
    .reservering-detail__row-inner .form-row, .personal-info__row-inner .form-row {
        max-width: 100%;
    }
    .reservering-detail__history-inner {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .reservering-detail__history-inner.--title {
        display: none;
    }
    .reservering-detail__history-inner .name {
        display: block;
        margin-bottom: 5px;
    }
}
/*#endregion*/

/*#region media*/
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
    .form-row .col-2 {
        grid-column: 1 / -1;
    }
    .form-row .col-3 {
        grid-column: 1 / -1;
    }
}
@media (max-width: 425px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .--grid {
        column-gap: 15px;
    }
    h1,
    h2,
    h3 {
        word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    .wrapper:not(.home-page) #footer-page::before {
        width: 80vw;
        left: 1%;
    }
}
/*#endregion*/
