{% load static %}
{% load paginator_tags %}

<!DOCTYPE HTML>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Mijn account – Mijn bestellingen</title>
    <meta name="description" content="">
    <!--font, css, js -->
    {% include 'includes/head.html' %}
</head>

<body>
<div class="wrapper account-order-page in-login">

    <header id="header-menu">
        {% if request.user.is_authenticated %}
            {% include 'includes/header-menu-logged-in.html' %}
        {% else %}
            {% include 'includes/header-menu.html' %}
        {% endif %}
    </header>

    <main>

        <section class="account-header">
            <div class="account-header__inner">
                <div class="account-header__left">
                    <h2>Welkom terug, Simmie!</h2>
                    <ul class="account-header__menu">
                        <li><a href="{% url 'order-index' %}">Overzicht</a></li>
                        <li class="active"><a href={% url 'order-list' %}>Mijn bestellingen</a></li>
                        <li><a href="/mijn-account-mijn-gegevens.php">Mijn gegevens</a></li>
                        <li><a href="#">Opgeslagen offertes</a></li>
                        <li><a href="{% url 'logout' %}">Uitloggen</a></li>
                    </ul>
                </div>
                <div class="account-header__right">
                    <a href="https://wa.me/320412345678" class="whatsapp-link">
                        <div class="whatsapp-link__icon-text">
                            <i class="fab fa-whatsapp"></i>
                            <div>Whatsapp ondersteuning<span>+32 (0)412 345 678</span></div>
                        </div>
                        <div>Elke werkdag van 07:00 tot 17:00</div>
                    </a>
                </div>
            </div>
        </section>

        <section class="order">
            <div class="container">
                <div class="section-title">
                    <h3>Mijn bestellingen</h3>
                </div>
                <div class="order-items">

                    <div class="order-items__row --title">
                        <div class="order-items__col">Datum</div>
                        <div class="order-items__col">Ordernummer</div>
                        <div class="order-items__col">Aantal producten</div>
                        <div class="order-items__col">Status</div>
                        <div class="order-items__col">Bedrag</div>
                        <div class="order-items__col">Factuur</div>
                    </div>
                    {% for object in object_list %}
                        <a href="{% url 'order-detail' pk=object.pk %}" class="order-items__row">
                            <div class="order-items__col">
                                <div class="order-items__mobiletitle">Datum</div>
                                <div class="order-items__value">{{ object.created|date:"d-m-Y" }}</div>
                            </div>
                            <div class="order-items__col">
                                <div class="order-items__mobiletitle">Ordernummer</div>
                                <div class="order-items__value">{{ object.order_number }}</div>
                            </div>
                            <div class="order-items__col">
                                <div class="order-items__mobiletitle">Aantal producten</div>
                                <div class="order-items__value">{{ object.order_products.all|length }}</div>
                            </div>
                            <div class="order-items__col">
                                <div class="order-items__mobiletitle">Status</div>
                                <div class="order-items__value">Online betaald</div>
                            </div>
                            <div class="order-items__col">
                                <div class="order-items__mobiletitle">Bedrag</div>
                                <div class="order-items__value">€ {{ object.order_grand_total }}</div>
                            </div>
                            <div class="order-items__col">
                                <div class="order-items__mobiletitle">Factuur</div>
                                <div class="order-items__value">
                                    <span class="download" onclick="location='{% url 'order-invoice'  pk=object.pk %}'"
                                          style="cursor:pointer;">
                                        Download</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}


                </div>
                <nav role="navigation" aria-label="Pagination Navigation">
                    <ul class="pagination">
                        {% get_proper_elided_page_range paginator page_obj.number 2 2 as page_range %}
                        {% if page_obj.has_previous %}
                            <li class="prev">
                                <a href="?page={{ page_obj.previous_page_number }}"
                                   aria-label="Previous Page"><i
                                        class="far fa-chevron-left"></i></a>
                            </li>
                        {% else %}
                            <li class="prev">
                                <a href="?page=1"
                                   aria-label="Previous Page"><i
                                        class="far fa-chevron-left"></i></a>
                            </li>
                        {% endif %}
                        {% for page_num in page_range %}
                            {% if page_obj.number == page_num %}
                                <li class="active"><a href="#" aria-current="true">{{ page_num }}</a></li>
                            {% else %}
                                {% if page_num == paginator.ELLIPSIS %}
                                    <li>
                                        <span>...</span>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="?page={{ page_num }}">{{ page_num }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <li class="next">
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}" aria-label="Next Page"><i
                                        class="far fa-chevron-right"></i>
                                </a>
                            {% else %}
                                <a href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next Page"><i
                                        class="far fa-chevron-right"></i>
                                </a>
                            {% endif %}
                        </li>

                    </ul>
                </nav>
            </div>
        </section>

    </main>

    <footer id="footer-page">
        {% include 'includes/footer.html' %}
    </footer>
    {% include 'includes/popup-cart.html' %}
</div>
</body>
</html>