{% load static %}
<!DOCTYPE HTML>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Checkout - 3. Overzicht</title>
    <meta name="description" content="">
    <!--font, css, js -->
    {% include 'includes/head.html' %}
</head>

<body>
<div class="wrapper checkout-step3-page">

    <header id="header-menu">
        {% if request.user.is_authenticated %}
            {% include 'includes/header-menu-logged-in.html' %}
        {% else %}
            {% include 'includes/header-menu.html' %}
        {% endif %}
    </header>

    <main>

        <section class="step-nav">
            <div class="container">
                <ul class="step-nav__steps step-3">
                    <li class="checked">Winkelwagen</li>
                    <li class="checked">gegevens</li>
                    <li class="active">Overzicht</li>
                    <li>Bedankt!</li>
                </ul>
            </div>
        </section>

        <section class="checkout --step-3">
            <div class="container">
                <h1 class="like-h2">Overzicht</h1>

                <form action="{% url 'order-payment' order_number=order.order_number %}" method="post"
                      id="checkout-overview">
                    {% csrf_token %}
                    <div class="checkout__wrapper">
                        <div class="checkout__left">

                            <div class="fieldset">
                                <h3 class="legend">Betalingsmethode</h3>
                                <div class="form-row">
                                    <div class="col col-1 radio-col payment-method-input">
                                        <input type="radio" name="payment_method" id="payment_method" value="2" checked>
                                        <label for="payment_method">Online betalen
                                            <div class="pay-option__list">
                                                <img src="{% static 'images/pay-option-bancontact.svg' %}"
                                                     alt="bancontact">
                                                <img src="{% static 'images/pay-option-paypal.svg' %}" alt="paypal">
                                                <img src="{% static 'images/pay-option-mastercard.svg' %}"
                                                     alt="mastercard">
                                                <img src="{% static 'images/pay-option-visa.svg' %}" alt="visa">
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="fieldset --ro">
                                <h3 class="legend">Je contactgegevens</h3>
                                <div class="form-row">
                                    <div class="col col-2">
                                        <span class="label">Naam*</span>
                                        <span class="input-text">{{ order.first_name }}</span>
                                    </div>

                                    <div class="col col-2">
                                        <span class="label">Voornaam*</span>
                                        <span class="input-text">{{ order.last_name }}</span>
                                    </div>

                                    <div class="col col-2">
                                        <span class="label">E-mailadres*</span>
                                        <span class="input-text">{{ order.email }}</span>
                                    </div>

                                    <div class="col col-2">
                                        <span class="label">Telefoonnummer*</span>
                                        <span class="input-text">{{ order.phone }}</span>
                                    </div>

                                </div>
                            </div>

                            <div class="fieldset --ro">
                                <h3 class="legend">Je facturatiegegevens</h3>
                                <div class="form-row">
                                    {% if order.company_name %}
                                        <div class="col col-2">
                                            <span class="label">Bedrijfsnaam</span>
                                            <span class="input-text">{{ order.company_name }}</span>
                                        </div>
                                    {% endif %}
                                    {% if order.vat_number %}
                                        <div class="col col-2">
                                            <span class="label">BTW-nummer</span>
                                            <span class="input-text">BE0000000000</span>
                                        </div>
                                    {% endif %}

                                    <div class="col col-2">
                                        <span class="label">E-Straatnaam*</span>
                                        <span class="input-text">{{ order.street_name }}</span>
                                    </div>

                                    <div class="col col-2">
                                        <span class="label">Huisnummer*</span>
                                        <span class="input-text">{{ order.house_number }}</span>
                                    </div>

                                    <div class="col col-2">
                                        <span class="label">Postcode*</span>
                                        <span class="input-text">{{ order.postal_code }}</span>
                                    </div>

                                    <div class="col col-2">
                                        <span class="label">Gemeente*</span>
                                        <span class="input-text">{{ order.city }}</span>
                                    </div>

                                    <div class="col col-2">
                                        <span class="label">Land*</span>
                                        <span class="input-text">{{ order.country }}</span>
                                    </div>

                                </div>
                            </div>

                            <div class="fieldset">
                                <h3 class="legend">Je order:</h3>
                                <div class="form-row">

                                    <div class="col col-1 radio-col">
                                        {% if order.order_type == 'in_store' %}
                                            <div class="input-text">Afhalen in ons magazijn in Waasmunster<br>
                                                <span><i class="fas fa-check"></i> direct beschikbaar</span> tijdens
                                                openingsuren (07u00-17u00)
                                            </div>

                                        {% else %}
                                            <div class="input-text">Laten leveren (1-5 werkdagen)</div>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>


                        </div>
                        <div class="checkout__right">
                            <div class="checkout__right-inner --with-shadow">
                                <div class="mini-cart">
                                    <h3>Winkelwagen</h3>
                                    <div class="mini-cart__items">

                                        {% for cart_item in cart_items %}
                                            <div class="mini-cart__row">
                                                <div class="mini-cart__col">
                                                    <div class="mini-cart__product">
                                                        <div class="img">
                                                            <img src="{{ cart_item.product.image.url }}" alt="">
                                                        </div>
                                                        <div class="content">
                                                            <a href="{{ cart_item.product.url }}" class="title">
                                                                <h5>{{ cart_item.product.name }}</h5>
                                                            </a>
                                                            {% if cart_item.variation %}
                                                                <div class="extra-option">{{ cart_item.variation.name }}</div>
                                                            {% endif %}
                                                            <div class="extra-option --qty">
                                                                Aantal: {{ cart_item.quantity }}</div>
                                                            {% if  cart_item.product.stock > 10 %}
                                                                <div class="product-detail__stock stock --green"><i
                                                                        class="fas fa-check"></i>
                                                                    Op voorraad
                                                                </div>
                                                            {% elif cart_item.product.stock < 10 and cart_item.product.stock > 0 %}
                                                                <div class="product-detail__stock stock --orange"><i
                                                                        class="fas fa-exclamation-triangle"></i>
                                                                    Beperkte voorraad
                                                                </div>
                                                            {% else %}
                                                                <div class="product-detail__stock stock --red"><i
                                                                        class="fas fa-exclamation-triangle"></i>
                                                                    Out of stock
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mini-cart__col text-right">
                                                    {% if request.user.is_authenticated %}
                                                        <div class="price">
                                                            € {{ cart_item.product.logged_in_price }}</div>
                                                    {% else %}
                                                        <div class="price">
                                                            € {{ cart_item.product.get_final_price }}</div>

                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>

                                <div class="subtotal">
                                    <div class="subtotal__row">
                                        <div class="subtotal__col">Subtotaal (excl. BTW)</div>
                                        <div class="subtotal__col">€ {{ total|floatformat:2 }}</div>
                                    </div>
                                    <div class="subtotal__row">
                                        <div class="subtotal__col">21% BTW</div>
                                        <div class="subtotal__col">€ {{ tax|floatformat:2 }}</div>
                                    </div>
                                    <div class="subtotal__row --total">
                                        <div class="subtotal__col">Totaal (incl. BTW)</div>
                                        <div class="subtotal__col">€ {{ grand_total|floatformat:2 }}</div>
                                    </div>

                                    <div class="subtotal__buttons">
                                        {#                                        <!-- TODO Link only for demo layout. Replace to submit button for production -->#}
                                        {#                                        <a href="checkout-step4.php" class="btn --btn-orange">Naar checkout</a>#}
                                        <button type="submit" class="btn --btn-orange">Naar checkout</button>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__right-inner">
                                <a href="{% url 'order' %}" class="btn --btn-orange-border --btn-full">Vorige
                                    stap</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </section>

    </main>

    <footer id="footer-page">
        {% include 'includes/footer.html' %}
    </footer>
    {% include 'includes/popup-cart.html' %}
</div>
</body>
</html>