<div class="container">
    <div class="header-menu__left">
        <span>Makelhoeve 3, 2431 Veerle</span>
        <a class="tel" href="tel:014840663"><span>014 84 06 63</span></a>
        <a href="https://www.maekelhoeve.be/" target="_blank" rel="noopener noreferrer">maekelhoeve.be</a>
    </div>
    <div class="logo"><a href="/" aria-label="Makelhoeve"><img src="../assets/images/M_logo_light.svg" alt="Makelhoeve"></a></div>
    <div class="header-menu__right">
        <a href="/">Dinner and Dance</a>
        <!-- NOTE for <div class="login-top"> add class "in-login" if user logged in -->
        <div class="login-top">
            <div class="login-top__trigger js-login-top__trigger">MyMaekelhoeve</div>
            <div class="login-top__content">
                <!-- NOTE show div below only for guest users -->
                <div class="login-top__form">
                    <form method="" action="">
                        <h4>Inloggen</h4>
                        <div class="form-row">
                            <div class="col col-1 label-absolute">
                                <input type="text" name="email" id="login-mail" placeholder="E-mailadres" required autocomplete="username">
                                <label for="login-mail">E-mailadres</label>
                            </div>
                            <div class="col col-1 label-absolute">
                                <input type="password" name="password" id="login-password" placeholder="Wachtwoord" autocomplete="current-password" required >
                                <label for="login-password">Wachtwoord</label>
                                <p class="small text-right"><a href="#">Wachtwoord vergeten?</a></p>
                            </div>
                            <div class="col col-1 submit-col">
                                <button type="submit" class="btn --btn-yellow --btn-full">Inloggen</button>
                            </div>
                            <div class="col col-1">
                                <p class="small text-center">Reeds gereserveerd? <a href="/login.php">Maak account</a></p>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- NOTE show this div only for users who logged in (and hide for guests) -->
                <!-- <div class="login-top__user-info">
                    <h4>Hallo, Simmie</h4>
                    <ul>
                        <li><a href="/overzicht.php">Overzicht</a></li>
                        <li><a href="#">Mijn gegevens</a></li>
                        <li><a href="#">Uitloggen</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div id="menu-overlay" class="overlay"></div>
